img {
    width: 30%;
    height: 30%;
    margin-left: 20px;
}

.nav-bg {
    background-color: #073c53;
}

.searchBar {
    margin-right: 20px;
}

div ul li a {
    color: whitesmoke;
    font-weight: 400;
}